//.text-& {
//  left {
//    text-align: left;
//  }
//  right {
//    text-align: right;
//  }
//}

$i: 10;
@while $i <= 100 {
  .padding-#{$i} {
    padding: $i + px;
  }
  .padding-left-#{$i} {
    padding-left: $i + px;
  }
  .padding-top-#{$i} {
    padding-top: $i + px;
  }
  .padding-right-#{$i} {
    padding-right: $i + px;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i + px;
  }

  .margin-#{$i} {
    margin: $i + px;
  }
  .margin-left-#{$i} {
    margin-left: $i + px;
  }
  .margin-top-#{$i} {
    margin-top: $i + px;
  }
  .margin-right-#{$i} {
    margin-right: $i + px;
  }
  .margin-bottom-#{$i} {
    margin-bottom: $i + px;
  }
  $i: $i + 5;
}

$j: 10;
@while $j <= 40 {
  .fs-#{$j} {
    font-size: $j + px;
  }
  .line-height-#{$j} {
    line-height: $j + px;
  }
  $j: $j + 2;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.white-text {
  color: white;
}
